<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="staff_contact_app_winform.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="staff_contact_app_winform.Settings.DatabaseFile" connectionString="Database/staff_contacts.sqlite"
            providerName="" />
    </connectionStrings>
    <applicationSettings>
        <staff_contact_app_winform.Settings1>
            <setting name="DatabaseFile" serializeAs="String">
                <value>staff_contacts.sqlite</value>
            </setting>
        </staff_contact_app_winform.Settings1>
    </applicationSettings>
</configuration>